<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Shopedex</title>
    <a th:href="@{/admin}">ADMIN PAGE</a>
    <!-- Favicon  -->
    <link rel="icon" th:href="@{/img/core-img/favicon.ico}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" th:href="@{/css/core-style.css}">
    <link rel="stylesheet" th:href="@{/style.css}">

</head>

<body>

<div th:replace="~{fragments :: startBody}"></div>


<!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <div th:replace="~{fragments :: mobileNav}"></div>

        <header th:replace="~{fragments :: header}"></header>

        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix container_index_products imagenes_modificar">

                <div th:replace="pokemonFragments :: imagesPokemonList"></div>

            </div>
        </div>
        <!-- Product Catagories Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <section th:replace="~{fragments :: newsletter}"></section>

    <footer th:replace="~{fragments :: footer}"></footer>

    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
    <!-- Popper js -->
    <script th:src="@{/js/popper.min.js}"></script>
    <!-- Bootstrap js -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- Plugins js -->
    <script th:src="@{/js/plugins.js}"></script>
    <!-- Active js -->
    <script th:src="@{/js/active.js}"></script>

</body>

</html>