<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Shopedex</title>

    <!-- Favicon  -->
    <link rel="icon" th:href="@{/img/core-img/favicon.ico}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" th:href="@{/css/core-style.css}">
    <link rel="stylesheet" th:href="@{/css/review-popup.css}">
    <link rel="stylesheet" th:href="@{/css/rated-stars.css}">
    <link rel="stylesheet" th:href="@{/style.css}">

</head>

<body>

<div th:replace="~{fragments :: startBody}"></div>

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <div th:replace="~{fragments :: mobileNav}"></div>

        <header th:replace="~{fragments :: header}"></header>

        <!-- Product Details Area Start -->
        <div class="single-product-area section-padding-100 clearfix">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-50">
                                <li class="breadcrumb-item"><a th:href="@{#}">Home</a></li>
                                <li class="breadcrumb-item"><a th:href="@{#}">Pokemon</a></li>
                                <li class="breadcrumb-item"><a th:text="${pokemon.getRegion().getName()}" th:href="@{#}">Chairs</a></li>
                                <li th:text="${pokemon.getName()}" class="breadcrumb-item active" aria-current="page">white modern chair</li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators"> 
                                    <li th:replace="pokemonFragments :: carrusel"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="single-products-catagory clearfix carousel-item active"  th:style="|background-image: url('@{${pokemon.getType1().getBackground()}}');|">
<!--                                        <a class="gallery_img" th:href="@{/img/product-img/pro-big-1.jpg}">-->
                                        <a class="gallery_img" th:href="'https://img.pokemondb.net/sprites/home/normal/' + ${pokemon.getName().toLowerCase()} + '.png'" alt="" style="width: auto;">
                                            <img th:src="'https://img.pokemondb.net/sprites/home/normal/' + ${pokemon.getName().toLowerCase()} + '.png'" alt="" style="width: auto;" >
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p th:text="'P¥' +${#numbers.formatDecimal(pokemon.getPrice(), 1, 2, 'COMMA')}" class="product-price">P¥180</p>
                                <a th:href="@{/product-details}">
                                    <h6 th:text="${pokemon.getName()}">White Modern Chair</h6>
                                </a>
                                <!-- Ratings & Review -->
                                <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                    <p id="avgRating" th:text="${pokemonRating}"></p>
                                    <div class="ratings">
                                        <span data-rating="5"  class="fa-solid fa-star rated-star"></span>
                                        <span data-rating="4.5" class="fa-solid fa-star-half rated-star half"></span>
                                        <span data-rating="4"  class="fa-solid fa-star rated-star"></span>
                                        <span data-rating="3.5" class="fa-solid fa-star-half rated-star half"></span>
                                        <span data-rating="3"  class="fa-solid fa-star rated-star"></span>
                                        <span data-rating="2.5" class="fa-solid fa-star-half rated-star half"></span>
                                        <span data-rating="2"  class="fa-solid fa-star rated-star"></span>
                                        <span data-rating="1.5" class="fa-solid fa-star-half rated-star half" ></span>
                                        <span data-rating="1"  class="fa-solid fa-star rated-star"></span>
                                        <span data-rating="0.5" class="fa-solid fa-star-half rated-star half" ></span>
                                    </div>
                                    <button class="btn amado-btn" id="open-review">Write A Review</button>
                                    <div class="review" id="review">
                                        <div class="inner-review">
                                            <h2>Write your Review</h2>
                                            <div class="rating-stars-wrapper">
                                                <div id="pokemonJSId" th:attr="data-id=${pokemon.getId()}" class="rating-stars">
                                                <span data-rating="5"  class="fa-solid fa-star fa-2xl"></span>
                                                <span data-rating="4"  class="fa-solid fa-star fa-2xl"></span>
                                                <span data-rating="3"  class="fa-solid fa-star fa-2xl"></span>
                                                <span data-rating="2"  class="fa-solid fa-star fa-2xl"></span>
                                                <span data-rating="1"  class="fa-solid fa-star fa-2xl"></span>
                                                </div>
                                            </div>
                                            <p></p>
                                            <textarea class="review-area" id="review-area" placeholder="Write your review here"></textarea>
                                            <p></p>

                                            <div class="group-btn-review">
                                                <button class="btn amado-btn" id="close-review">Close</button>
                                                <button class="btn amado-btn" id="send-review">Send Review</button>
                                            </div>

                                            <div  class="reviewsContainer" >
                                                <div th:if="${ratings.isEmpty()}">
                                                    <p>No hay reviews disponibles en este momento.</p>
                                                </div>
                                                <div th:each="rating : ${ratings}">
                                                    <p th:text="${rating.getUserName()}" class="reviewUser"></p>
                                                    <p th:text="${rating.getReview()}" class="reviewText"></p>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                                <!-- Avaiable -->
                                <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                            </div>

                            <div class="short_overview my-5">
                                <p th:text="${pokemon.getDescripcion()}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quae eveniet culpa officia quidem mollitia impedit iste asperiores nisi reprehenderit consequatur, autem, nostrum pariatur enim?</p>
                            </div>

                            <!-- Add to Cart Form -->
                            <form class="cart clearfix" method="post">
                                <div class="cart-btn d-flex mb-50">
                                    <p>Qty</p>
                                    <div class="quantity">
                                        <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp; &amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                        <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1">
                                        <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <a th:href="@{/addtocart/{id}(id=${pokemon.getId()})}" name="addtocart" class="btn amado-btn">Add to cart</a>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Details Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

<section th:replace="~{fragments :: newsletter}"></section>

    <footer th:replace="~{fragments :: footer}"></footer>

    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
    <!-- Popper js -->
    <script th:src="@{/js/popper.min.js}"></script>
    <!-- Bootstrap js -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- Plugins js -->
    <script th:src="@{/js/plugins.js}"></script>
    <!-- Active js -->
    <script th:src="@{/js/active.js}"></script>

    <script th:src="@{/js/review-popup.js}"></script>
<script th:src="@{/js/rated-stars.js}"></script>
    <script src="https://kit.fontawesome.com/c892b143ac.js" crossorigin="anonymous"></script>
</body>

</html>