MARIADB_DATABASE=shopedex
MARIADB_USER=shopedex
MARIADB_PASSWORD=change_me_shopedex
MARIADB_ROOT_PASSWORD=change_me_root

SECURITY_JWT_SIGNING_KEY_SECRET=change_this_for_a_long_random_secret_at_least_32_chars
SECURITY_JWT_ACCESS_TOKEN_TTL=900000
SECURITY_JWT_REFRESH_TOKEN_TTL=604800000

SHOPEDEX_BOOTSTRAP_ADMIN_EMAIL=admin@shopedex.local
SHOPEDEX_BOOTSTRAP_ADMIN_PASSWORD=change_me_admin
SHOPEDEX_BOOTSTRAP_ADMIN_FIRST_NAME=Alejandro
SHOPEDEX_BOOTSTRAP_ADMIN_LAST_NAME=Admin
