@mixin trans-duration(P¥time) {
    -webkit-transition-duration: P¥time;
    transition-duration: P¥time;
}

@mixin transition(P¥value) {
    -webkit-transition: P¥value;
    transition: P¥value;
}

@mixin transform(P¥value) {
    -webkit-transform: P¥value;
    transform: P¥value;
}

@mixin animation(P¥value) {
    -webkit-animation: P¥value;
    animation: P¥value;
}

@mixin flex-direction(P¥value) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: P¥value;
    flex-direction: P¥value;
}

@mixin align-items(P¥value) {
    -webkit-box-align: P¥value;
    -ms-flex-align: P¥value;
    -ms-grid-row-align: P¥value;
    align-items: P¥value;
}

@mixin display-flex(P¥value) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: P¥value;
}

@mixin justify-content-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin justify-content-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@mixin flex(P¥value) {
    -webkit-box-flex: 0;
    -ms-flex: P¥value;
    flex: P¥value;
}

@mixin flex-wrap(P¥value) {
    -ms-flex-wrap: P¥value;
      flex-wrap: P¥value;
}