.ratings span{
    cursor: pointer;
    transition: color.2s, transform .2s;
}
.half{
    margin-left: 30px;
}
.ratings span:hover{
    color: #dcbb0f;
    transform:scale(1.3);
}
.ratings span:hover ~ span{
    color: #dcbb0f;
}
.ratings{
    display: flex;
    flex-direction: row-reverse;
}
.ratings span[data-clicked]{
    color: #dcbb0f;;
}
.ratings span[data-clicked] ~ span{
    color: #dcbb0f;
}
