.ratings span{
    cursor: pointer;
    transition: color.2s, transform .2s;
}
.half{
    position: relative;
    left: 10%;
}

.ratings{
    display: flex;
    flex-direction: row-reverse;
}
.ratings span[data-clicked]{
    color: #dcbb0f;;
}
.ratings span[data-clicked] ~ span{
    color: #dcbb0f;
}
