<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear una nueva categoría</title>
    <link rel="stylesheet" th:href="@{/admin/typesPokemon.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1>POKEMON LIST</h1>
    <div th:if="${edited}" th:text="'The Pokemon '+${editedPokemon.getName()}+' has been updated'"
         class="alert alert-success" role="alert"></div>
    <div th:if="${created}" th:text="'The Pokemon '+${newPokemon.getName()}+' has been created'"
         class="alert alert-success" role="alert"></div>
    <th:block
            th:replace="~{administration/adminFragments :: admin-form(${options}, ${pokemons.getSize()},${orderBy},${orderDir})}"></th:block>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Pokemon</th>
            <th scope="col">Name</th>
            <th scope="col">Region</th>
            <th scope="col">First Type</th>
            <th scope="col">Second Type</th>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr>
            <td colspan="9" class="text-center">
                <a th:href="@{/admin/pokemons/new}">
                    <i class="fa-solid fa-plus"></i>
                    <span class="sr-only" th:text="|Create new pokemon|"></span>
                </a>
            </td>
        </tr>
        <tr th:each="pokemon : ${pokemons}">
            <td th:text="${pokemon.getId()}"></td>
            <td>
                <img th:src="'https://img.pokemondb.net/sprites/home/normal/' + ${pokemon.getName().toLowerCase()} + '.png'"
                     alt="" style="width: 2rem; height: 2rem;">
            </td>
            <td th:text="${pokemon.getName()}"></td>
            <td th:text="${pokemon.getRegion().getName()}"></td>
            <td>
                <div th:class="'type-icon type-'+${pokemon.getType1().getName().toLowerCase()}"
                     th:text="${pokemon.getType1().getName().toLowerCase()}"></div>
            </td>
            <td>
                <div th:unless="${pokemon.getType2()}" th:class="'type-icon'" th:text="'-'"></div>
                <div th:if="${pokemon.getType2()}"
                     th:class="'type-icon type-'+${pokemon.getType2().getName().toLowerCase()}"
                     th:text="${pokemon.getType2().getName().toLowerCase()}"></div>
            </td>
            <td th:text="${pokemon.getStock()}"></td>
            <td th:text="${pokemon.getPrice()} + 'P¥'"></td>
            <td>
                <a th:href="@{'/admin/pokemons/edit/' + ${pokemon.id}}" style="text-decoration: none;">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <span class="sr-only" th:text="|Edit Pokemon ${pokemon.getName()}|"></span>
                </a>
                <a th:href="@{'/admin/pokemons/delete/' + ${pokemon.id}}">
                    <i class="fa-solid fa-trash-can"></i>
                    <span class="sr-only-focusable" th:text="|Delete Pokemon ${pokemon.getName()}|"></span></a>
            </td>
        </tr>
        </tbody>
    </table>

    <th:block
            th:replace="~{administration/adminFragments :: admin-pagination(${pokemons}, '/admin/pokemons/list', ${orderBy}, ${orderDir})}"></th:block>

    <a class="btn btn-primary" th:href="@{'/admin/home'}" style="text-decoration: none;">Go to admin home</a>

</div>
<!--<script th:src="@{/js/admin-pokemon.js}"></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c892b143ac.js" crossorigin="anonymous"></script>
</body>
</html>